@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Fira+Mono&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
nav,
div,
header,
main,
footer {
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  background: #eee;
}

pre {
  font-family: "Fira Mono", monospace !important;
  text-align: left;
  white-space: pre-wrap;
}

code {
  font-family: "Fira Code", monospace !important;
  text-align: left;
  white-space: pre-wrap;
}

h3,
h4,
h5,
h6 {
  color: #666;
}

h1:first-child {
  margin-top: 0;
}

p:last-child,
pre:last-child {
  margin-bottom: 0;
}

hr {
  margin: 1rem 0;
}

header,
main,
footer {
  max-width: 50vw;
  margin: auto;
}

main {
  background: #fff;
  padding: 2rem;
  text-align: justify;
  box-shadow: 0.25rem 0.25rem 0.25rem #ddd;
}

header,
footer {
  padding: 2rem 0;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

love::after {
  content: "❤";
  color: red;
}
